<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <!-- <span *ngIf="update" color="danger">There's an update associated with your progressive web application!</span> -->
  <mat-card *ngIf="joke">
    <mat-card-header>
      <mat-card-title>Joke</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <img [src]="joke.icon_url" alt="chuck-norris" height="50px" width="50px"> -->
      <p>{{joke.value}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="getJokes()">Next</button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngFor="let item of items">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{item.description}}
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button href="{{item.url}}" color="primary">More</a>
    </mat-card-actions>
  </mat-card>
</main>
