/* You can add global styles to this file, and also import other style files */

.offline-notification {
  transition: transform 0.3s;
  transform: translateY(-100%) translateX(-50%);
  position: fixed;
  left: 50%;
  background: #222;
  color: white;
  padding: 0.5em;
  text-align: center;

  a {
    color: white;

    &:visited {
      color: white;
    }
  }

  &:hover {
    .offline-notification_explanation {
      display: block;
    }
  }
}

.offline-notification_explanation {
  display: none;
  background: inherit;
  padding-top: 1em;
}

.cta {
  display: flex;
  flex-direction: column;
//   align-items: center;
  height: 100vh;
//   justify-content: space-around;
}

.offline-msg {
  display: none;
}

.offline {
  .offline-notification {
    transition: transform 0.3s;
    transform: translateY(0) translateX(-50%);
  }

  .online-msg {
    display: none;
  }

  .offline-msg {
    display: block;
  }
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
